@model UASMiniProject.Models.ProgramsScheduled

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProgramsScheduled</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scheduled_Program_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheduled_Program_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessions_Per_Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessions_Per_Week)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DummyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
