@model IEnumerable<UASMiniProject.Models.ProgramsScheduled>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Scheduled_Program_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sessions_Per_Week)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Scheduled_Program_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sessions_Per_Week)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DummyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DummyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DummyID })
        </td>
    </tr>
}

</table>
