@model UASMiniProject.Models.User

@{
    ViewBag.Title = "RegisterForAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/Register.css" rel="stylesheet" />
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

@using (Html.BeginForm())
{
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="~/img/registermove.png" height="30" alt="" />
                <h3>Welcome</h3>
                <p>You are 30 seconds away from registration !</p>
                <input type="submit" name="" value="Login" onclick="location.href='@Url.Action("Login", "User")'" /><br />
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Applicant")">Applicant</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("RegisterForAdmin", "Users")">Admin</a>
                        </li>*@
                </ul>
                <div>
                    <h3 class="register-heading">Apply as a Admin/MAC</h3>
                    <div class="row register-form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Login_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Login Id*" } })
                                    @Html.ValidationMessageFor(model => model.Login_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password*" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.Role, new List<SelectListItem>{
                                                 new SelectListItem() { Text = "ADMIN", Value = "admin"  },
                                                 new SelectListItem() {
                                                     Text = "MAC", Value = "mac"}}, "Please select your specified role")
                                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                            </div>
                            <br /><br />
                            <input type="submit" class="btnRegister" value="Register" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}











